{% extends "base.html" %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}
    <div class="col-md-6 offset-md-3">

        {% if user.is_authenticated  %}
            <h1>hellow</h1>
        
        {% else %}
        <h2>Login</h2>
        <form action="{% url "myapp:home" %}" method="POST">
            {% csrf_token %}
            <form>
                <div class="my-3">
                  <input type="text" class="form-control" name="username" placeholder="First name" required>
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div><br>
                <button type="submit" class="btn btn-secondary">Submit</button>
              </form>   
        </form>

        {% endif %}
    </div>
{% endblock content %}